*.
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #e5eaf4;
    padding: 3rem;
}
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right,
        rgba(0, 78, 146, 0.8),
        rgba(0, 4, 40, 0.6)),
        url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
.header__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
.header__logo {
        height: 3.5rem;
    }
.header__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fcfcfd;
        letter-spacing: 2px;
    }