//COLORS
$color-primary: #35b5f4;
$color-primary-light: #9CECFB;
$color-primary-dark: #0052D4;

$color-secondary-light: #f9d423;
$color-secondary-dark: #f83600;

$color-tertiary-light: #f77062;
$color-tertiary-dark: #fe5196;

$color-grey-light-1: #f8f9f9;
$color-grey-light-2: #eee;

$color-grey-dark: #5f6365;
$color-grey-dark-2: #9fa1a2;

$color-blue-dark: #002054;

$color-white: #fff;
$color-black: #000000;

//FONT 
$default-font-size: 1.6rem;

//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//EXTRAS
$border-shape-xsmall: 2px;
$border-shape-small: 3px;
$border-shape-big: 10rem;