//COLORS
$color-primary: #35b5f4;
$color-primary-light: #9CECFB;
$color-primary-dark: #0052D4;

$color-grey-light-1: #f8f9f9;

$color-grey-dark: #5f6365;
$color-white: #fff;
$color-black: #000000;

//FONT 
$default-font-size: 1.6rem;

//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;