//COLORS


$color-primary: #0575e6;
$color-primary-light: #1d82e8; 
$color-primary-dark: #000428;

$color-secondary-light: #0f9b0f;;
$color-secondary-dark: #0d3100;

$color-tertiary-light: #dd1818;
$color-tertiary-dark: #420707;

$color-grey-light-1: #f8f9f9;
$color-grey-light-2: #eee;

$color-grey-dark: #5f6365;
$color-grey-dark-2: #9fa1a2;

$color-blue-dark: #000428;//#002054;

$color-white: #fff;
$color-black: #000000;

//FONT 
$default-font-size: 1.6rem;

//GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//EXTRAS
$border-shape-xsmall: 2px;
$border-shape-small: 3px;
$border-shape-big: 10rem;